.post-detail-container {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    color: #aaa;
}

.post-header {
    display: flex;
}

.post-header p {
    margin-right: 1em;
}

.post-header-container {
    display: flex;
    justify-content: space-between;
}

.username {
    font-weight: bold;
    color: #61dafb;
}

@media all and (max-width: 600px) {
    .post-header {
        display: inline-block;
    }
}



