.active-post-wrapper {
    margin: 2em;
}

.active-post-container {
    display: flex;
}

.active-post {
    text-align: left;
    flex: 4;
}

.comment-list-wrapper {
    margin: 2em;
}

@media all and (max-width: 750px) {
    .active-post-container {
        display: block;
    }
}
