.comment-detail-container {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    color: #aaa;
}

.comment-header {
    display: flex;
}

.comment-header p {
    margin-right: 1em;
}

.comment-header-container {
    display: flex;
    justify-content: space-between;
}

.username {
    font-weight: bold;
    color: #61dafb;
}

@media all and (max-width: 600px) {
    .comment-header {
        display: inline-block;
    }
}



/* .detail {
    display: flex;
    text-align: left;
    padding: 0.5rem;
    margin: 1rem 1rem;
} */

/* .containerColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
} */

/* .containerRow {
    display: flex;
    flex-direction: row;
} */

/* .child {
    margin: 0 0.5rem;
    color: #aaa;
} */

/* .username {
    font-weight: bold;
    color: #61dafb;
} */

/* .textEditor {
    padding-left: 7px;
} */

